body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333;
}

label {
  margin-right: 10px;
  color: #555;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  width: 200px;
}

input:focus {
  border-color: #4caf50;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#risultato,
#numeroCasuale {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#risultato {
  background-color: #fff;
}

#numeroCasuale {
  background-color: #f7f7f7;
}

#risultato.mostrato,
#numeroCasuale.mostrato {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInUp 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
